* {
  margin: 0;
  border: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
::-moz-selection {
  /* Code for Firefox */
  color: #252525;
  background: rgba(110, 110, 110, 0.171);
}

::selection {
  color: #252525;
  background: rgba(110, 110, 110, 0.171);
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 62.5%;
}
body {
  font-family: "Poppins", sans-serif;
}

/*
/////////////////////
Landing page Styles

/////////////////////
*/

.background {
  background-image: url(images/bg4.jpg);
  width: 100vw;
  height: 100vh;
  background-color: #252525;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  transition: all 0.2s cubic-bezier(0.19, 1, 0.22, 1);
}
.container {
  background: linear-gradient(
    246.03deg,
    rgba(13, 12, 12, 0.33) 7.31%,
    rgba(52, 45, 45, 0.66) 89.79%
  );
  width: 100%;
  height: 100%;
  display: flex;
  padding: 50px 45px;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
}
.ml-head {
  font-family: "Manjari", sans-serif;
  color: #e8e8e8;
  font-weight: 400;
  font-size: 60px;
}

.head {
  font-size: 48px !important;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  margin-left: 8px;
}
.btn-landing {
  border: 2px solid #e8e8e8;
  box-sizing: border-box;
  border-radius: 81px;
  display: inline-block;
  outline: none;
  padding: 5px 38px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  width: 200px;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  cursor: pointer;
}

.btn-transparent {
  background-color: transparent;
  color: #e8e8e8;
  margin-left: 18px;
}
.btn-transparent:hover {
  background-color: #e8e8e8;
  color: #5b5b5b;
}
.btn-fill {
  color: #5b5b5b;
}
.btn-fill:hover {
  background-color: transparent;
  color: #e8e8e8;
}
.lnd-text {
  width: 45%;
  color: #e8e8e8;
  font-weight: 300;
  font-size: 17px;
  line-height: 143%;
}
.btn-holder {
  margin-top: 0px;
  margin-bottom: 15px;
}
@media only screen and (max-width: 600px) {
  .ml-head {
    font-size: 37px;
  }
  .container {
    padding: 8px 7px;
    align-items: center;
    justify-content: center;
  }
  .lnd-text {
    width: 95%;
    color: #e8e8e8;
    font-weight: 300;
    font-size: 14px;
    line-height: 119%;
    text-align: center;
  }
  .btn-landing {
    border: 2px solid #e8e8e8;

    border-radius: 81px;

    padding: 5px 17px;

    font-style: normal;

    font-size: 10px;
    width: 100px;
  }
  .head {
    font-size: 28px !important;

    margin-left: 3px;
  }
}
.floatNotification {
  background: #ffffff;
  width: 20%;
  height: 47%;
  top: 40px;
  right: 40px;
  position: absolute;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 4px 26px rgba(89, 84, 84, 0.57);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  transform: translateY(-500px);
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
.flt-head {
  width: 100%;
  padding: 10px;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  background: #f2f5fa;
}
.flt-content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 15px;
  font-weight: 400;
  font-size: 12px;
}
.close {
  font-size: 10px;
  transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.close:hover {
  color: #e8e8e8;
  background-color: #f43f5e;
  cursor: pointer;
}

/*
/////////////////////
Game
/////////////////////
*/
.game-body {
  background: #f2f5fa;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 0.424fr;
  position: relative;
}
.sidebar {
  background: #ffffff;
  border-top-left-radius: 85px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0px 25px 40px 25px;
  flex-direction: column;
  position: relative;
}
.sidebar-holder {
  width: 100%;
  height: 38%;
  background: #f2f5fa;
  border-radius: 12px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sidebar-holder:nth-child(1) {
  margin-bottom: 25px;
}
.main-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 75px;
  padding-bottom: 40px;
  padding-top: 85px;
}
.main-screen-holder {
  background: #ffffff;
  border-radius: 12px;
  width: 100%;
  height: 100%;
}
.sidebar-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: rgba(255, 255, 255, 0.45);
}
.svg {
  width: 22px;
}
.box-text {
  color: #a4a4a4;
  font-size: 16px;
}
.box-text-value {
  background: -webkit-linear-gradient(#ec4899, #f43f5e);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 16px;
  font-weight: 500;
}

.timer {
  color: #a4a4a4;
  font-weight: 300;
  font-size: 48px;
  text-align: center;
  display: inline-block;
  line-height: 1;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.timer-light {
  font-weight: 500;
  font-size: 18px;
}
.q-state {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
}
.q-state-top {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 60%;
  flex-direction: row;
}
.next-q {
  display: inline-block;
  outline: none;
  background: #ffffff;
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  padding: 6px 22px;
  color: #a4a4a4;
  margin-top: 10px;
  transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
  border-radius: 5px;
}
.next-q:hover {
  color: #ffffff;
  background: #a4a4a4;
  cursor: pointer;
}
.main-screen-holder {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  flex-direction: column;
  padding-bottom: 20px;
  padding-top: 20px;
}
.question {
  color: #7d7c7c;
  font-family: Manjari;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 143%;
  width: 80%;
  text-align: center;
  height: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.qmark {
  color: rgba(164, 164, 164, 0.08);
  font-family: Times New Roman;
  font-style: normal;
  font-weight: normal;
  font-size: 262px;
  position: absolute;
  top: -10px;
  right: 2px;
  display: block;
}
.option-holder {
  display: flex;
  flex-direction: row;
  width: 70%;
  justify-content: space-around;
}

.option-text {
  background: linear-gradient(126.43deg, #ec4899 -52.19%, #f43f5e 139.31%);
  border-radius: 50%;

  font-size: 23px;
  width: 45px;
  height: 45px;
  color: #f7f7f7;
  display: flex;
  align-items: center;
  justify-content: center;
}
.option {
  background: #f2f5fa;
  border-radius: 250px;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #7d7c7c;
  font-family: Manjari;
  font-size: 17px;
  height: 45px;
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.option:hover {
  background: #f2f5fac2;

  transform: translateX(10px);
  cursor: pointer;
}
.option-holder-main {
  width: 100%;
}
.quest-svg {
  animation: IcnAnim 1s cubic-bezier(0.19, 1, 0.22, 1) infinite;
}
@keyframes IcnAnim {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.notification {
  position: absolute;
  bottom: 30px;
  left: 20px;
  color: #f43f5e;
  font-size: 16px;
  z-index: 100;
  background: #ffffff;
  box-shadow: 0px 4px 31px rgba(229, 238, 253, 0.986);
  border-radius: 6px;
  width: 250px;
  font-weight: 500;
  padding: 20px 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  transition: all 01s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.icon-redo {
  height: 20px;
  margin-right: 25px;
  transition: all 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  transform: rotate(0deg);
}
.icon-redo:hover {
  transform: rotate(90deg);
  cursor: pointer;
}

.level {
  position: absolute;
  background-color: #f2f5fa;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  top: 25px;
  right: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.level-icn {
  height: 30px;
}
.dropdown {
  position: absolute;
  top: calc(50px + 27px);
  right: 35px;
  background: #ffffff;
  box-shadow: 0px 4px 31px rgba(229, 238, 253, 0.986);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  flex-direction: column;
  padding: 4px 0;
  opacity: 0;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown-item {
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  color: #a4a4a4;
  font-size: 16px;
}
.dropdown-item:hover {
  background: #f5f5f581;
  cursor: pointer;
}
